html {
    background: white;// #e0e0e0;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    .title{
        text-align:center;
        margin:30px;
    }
}

* {
    margin: 0;
    padding: 0;
}


.containerConvertion {    
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.input, .output {
    border:1px solid grey;
    height:100%;
    width:100%;
}

.column{
    width:40%;
    height:500px;
    margin: 5px;
}



.containerExplorer {    
    display: flex; /* or inline-flex */
    justify-content: center;
    //flex-direction: column;
    margin-bottom: 30px;
    align-items: center;

    flex-wrap: wrap;
    flex-direction: row;
}

.btnGroup{
    display: flex;
    justify-content: center;
}
.button {
    background: white;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 0px;
    padding: 9px;
    font-weight: bold;
    margin: 12px;
    width:100px;
    cursor: pointer;
    &:hover {
        background: #ebe8e8;
    }
}

.img {
    max-width: 200px;
    max-height: 120px;
    width: auto;
    height: auto;
}


.item {
   display: flex; 
   align-items: center;
   margin:3px;
   border: 1px solid #cecece;
   width: 580px;
   .blockInfo{
       margin:10px;
   }
} 

.step{
   text-align: center;
}

/* Small screens */
@media only screen and (max-width: 350px) {
    .container {
        /* On small screens, we are using column direction */
        flex-direction: column;
        justify-content: center;
    }
    .column{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    } 
    .item {
        display: flex; 
        margin:3px;
        border: 1px solid #cecece;
        width: 95%;
        align-items: center;
        .blockInfo{
            margin:10px;
        }
     } 

     .img{
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
     }
}